{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <div class="container">

        <div id="submission_form m-2 p-2">
            <div class="input-group m-3">
                <span class="input-group-text">Cookie-Consent</span>
                <textarea name="cookie_consent" class="form-control" style="height: 250px; resize: none;" aria-label="With textarea"></textarea>
            </div>
            <div class="input-group m-3">
                <button class="btn btn-outline-info" type="button" id="button-addon1">Scrap me!</button>
                <input name="rc_code" type="text" class="form-control" placeholder="Registration Code" aria-label="Registration Code" aria-describedby="button-addon1">
            </div>
        </div>

    </div>

    {#    <a href="{{ path('app_company_index') }}">back to list</a>#}
{% endblock %}
