{% extends 'base.html.twig' %}

{% block title %}Scrap New Company{% endblock %}

{% block body %}
    <div class="container">

        <div id="submission_form m-2 p-2">
            <div class="input-group m-3">
                <span class="input-group-text">Cookie-Consent</span>
                <textarea id="cookie-consent" name="cookie-consent" class="form-control" style="height: 250px; resize: none;" aria-label="With textarea"></textarea>
            </div>
            <div class="input-group m-3">
                <button class="btn btn-outline-info" type="button" id="start_scraping">Scrap me!</button>
                <input id="rc-code" name="rc-code" type="text" class="form-control" placeholder="Registration Code" aria-label="Registration Code" aria-describedby="start_scraping">
            </div>
        </div>

    </div>

    {#    <a href="{{ path('app_company_index') }}">back to list</a>#}
{% endblock %}
